*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* google font-family: "Caveat", serif;*/
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
/* font-family: "Eater", serif; */
@import url('https://fonts.googleapis.com/css2?family=Eater&display=swap');
/* fon font-family: "Splash", serif; */
@import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');

html,body{
    /* background-color: #000; */
    max-width: 100vw;
    height: 100%;
    font-family: sans-serif;
    transition: 0.3s all ease-in-out;
}
header{
    position: relative;
    width: 100%;
}
.nav{
    position: sticky;
    top: 0px;
    background-color: #142931;
    /* background-color: #1c4123; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: -1px 4px 20px 0px #0009;
    /* height: 80px; */
    width: 100%;
    z-index: 10;
}
.nav .logo,.mainhambar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    i{
        color: white;
        font-size: 25px;
    }
}
.mainhambar{
    display: none;
}
.logo img{
    /* height: clamp(20px,60px,100px); */
    width: clamp(50px,120px,200px);
    /* width: 150px; */

}
.nav-items{
    display: flex;
    font-size: 17px;
    gap: 10px;
    color: white;
    height: 100%;
}
.nav-item{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &:hover{
        .navitemanim{
            left: 0;
            transition: 0.5s all;
        }
        color: orange;
        a{
            color: orange;
        }
    }
}
.nav-item h4{
    position: relative;
    z-index: 10;
    padding-bottom: 5px;
    font-family: sans-serif;
    a{
        color: white;
        text-decoration: none;
    }
}
.nav-item .navitemanim{
    position: absolute;
    height: 5%;
    width: 100%;
    bottom: 0;
    left: -100%;
    background-color: orange;
}
.nav-right{
    display: flex;
    font-size: 17px;
    gap: 10px;
}
.nav-right button{
    background-color: #ffd;
    cursor: pointer;
    border: none;
    padding: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    z-index: 5;
    &:hover{
        .btnanimation{
            left: 0;
            transition: 0.5s all;
        }
    }
    a{
        color: black;
        text-decoration: none;
    }
}
.nav-right button:focus{
    outline: green 1px solid;
}
.nav-right h4{
    position: relative;
    z-index: 99;
    
}
.btnanimation{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: skyblue;
}


/* side navbar  */

.sidenav{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #c8dce4f6;
    /* background-color: #1c4123; */
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
    box-shadow: -1px 4px 20px 0px #0009;
    height: 100%;
    width: 50%;
    z-index: 100;
    box-shadow: 1px 1px 1000px 100px black;
}
.sidenav .logo{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-direction: column;
    gap: 10px;
    padding: 10px 0px;

    /* padding: 10px 10px; */
    i{
        color: white;
        font-size: 25px;
    }
}

.sidenav .sidenavclose{
    display: flex;
    padding: 10px 20px;
    &:hover{
        background-color: #c8dce4f6;
        i{
            color: orange;
        }
    }
}
.logo img{
    /* height: clamp(20px,60px,100px); */
    width: clamp(50px,120px,200px);
    /* width: 150px; */

}
.sidenav-items{
    display: flex;
    flex-direction: column;
    font-size: 17px;
    gap: 10px;
    color: white;
    height: 100%;
}
.sidenav-item{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    padding: 10px 20px;
    &:hover{
        .navitemanim{
            left: 0;
            transition: 0.5s all;
        }
        color: orange;
        a{
            color: orange;
        }
    }
}
.sidenav-item h4{
    position: relative;
    z-index: 10;
    padding-bottom: 5px;
    font-family: sans-serif;
    a{
        color: white;
        text-decoration: none;
    }
}
.sidenav-item .navitemanim{
    position: absolute;
    height: 5%;
    width: 100%;
    bottom: 0;
    left: -100%;
    background-color: orange;
}
.sidenav-right{
    display: flex;
    font-size: 17px;
    gap: 10px;
    padding: 10px 20px;
}
.sidenav-right button{
    background-color: #ffd;
    cursor: pointer;
    border: none;
    padding: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    z-index: 5;
    &:hover{
        .btnanimation{
            left: 0;
            transition: 0.5s all;
        }
    }
    a{
        color: black;
        text-decoration: none;
    }
}
.sidenav-right button:focus{
    outline: green 1px solid;
}
.sidenav-right h4{
    position: relative;
    z-index: 99;
    
}




.hero-section{
    height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: url('webbg.jpg');
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    opacity: 0.99;
    color: #751;
}
h4.hero-item{
    /* font-size: 2vmax; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* color: white; */
    font-weight: 500;
    padding: 10px;
}
h1.hero-item{
    font-family: "Splash";
    font-weight: 400;
    font-style: normal;
    font-size: 6vmax;
}

button.hero-item{
    background-color: yellow;
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    &:hover{
        /* background-color: red; */
        box-shadow: 1px 1px 10px 1px red;
    }
}

/* about */

.about-section{
    display: flex;
    flex-direction: column;
    padding: 100px 0px;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    color: #fff;
    background-color: #0B161A;
}
.about-section>h1{
    font-size: 5vmax;
}
.about-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-around;
    gap: 50px;
    align-items: center;    
    padding: 30px;
}
.aboutitemtext{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 100%;
    height: 50%;
    bottom: -100%;
    padding: 20px;
    background-color: #cbbc91;
    color: black;
    transition: all 0.8s ease-out;
    gap: 10px;

}    
.aboutitemtext button{
    background-color: red;
    border: none;
    padding: 10px;
    color: yellow;
}
.aboutitem1{
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 400px;    
    /* width: 300px; */
    /* background-image: url(aboutf1.jpg); */
    overflow: hidden;
    justify-content: center;
    img{
        object-position: center;
        object-fit: cover;
    }
    &:hover{
        .aboutitemtext{
            /* opacity: 1; */
            bottom: -5%;
            box-shadow: 1px -0px 10px black;

        }
    }
}
.aboutitem2{
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 400px;    
    /* width: 300px; */
    /* background-image: url(aboutf2.jpg); */
    overflow: hidden;
    justify-content: center;
    img{
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    &:hover{
        .aboutitemtext{
            bottom: -5%;
            box-shadow: 1px -0px 10px black;
        }
    }
}

.aboutitem3{
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 400px;    
    /* width: 300px; */
    /* background-image: url(aboutf3.jpg); */
    overflow: hidden;
    justify-content: center;
    img{
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    &:hover{
        .aboutitemtext{
            bottom: -5%;
            box-shadow: 1px -0px 10px black;
        }
    }
    
}
.ourspecial{
    padding: 50px;
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-around;
    background-color: #141E20;
    overflow: hidden;
}
.ourspecialpart1{
    /* padding: 40px; */
    box-shadow: inset 1px 1px 10px grey;
    width: 100%;
    overflow: hidden;
    img{
        opacity: 0.5;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: 1s;
        &:hover{
            scale: 1.2;
        }
    }
}
.ourspecialpart2{
    padding: 40px;
    color: white;
}

.specialitems{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0px;
}
.specialitem{
    /* display: flex;    */
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}
.specialI1{
    display: flex;
    justify-content: space-between;
    font-weight: 200;
    font-family: sans-serif;
}
.ourspecialpart2 button{
    padding: 10px;
    color: red;
    background-color: yellow;
    border: none;
    outline: none;
}

/* login page css start */

div.login{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    height: 100vh;
    background-image: url(./webbg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
div.login form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 20px 80px 20px 80px;
    border-radius: 15px 30% 15px 30%;
    background-color: rgb(192, 176, 176);
    border: 10px solid black;
}
div.login h2{
    font-size: larger;
}
div.login .newuser{
    color: black;
    gap: 10px;
    a{
        color: white;
        /* text-decoration: none; */
    }
}
div.login input{
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px;
    border-bottom: 1px solid grey;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.login input:focus{
    /* border: none; */
    outline: none;
    /* transition: 1s; */
}
div.login input[type="submit"]{
    border-radius: 15px;
    color: red;
    background-color: white;
    font-size: 20px;
    /* transition: 1s; */
    &:hover{
        background-color: #d6d1d1;
    }
}

/* login page css end */


/* registration page css start */
div.register{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    height: 100vh;
    background-image: url(./webbg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
div.register form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 20px 80px 20px 80px;
    border-radius: 15px 30% 15px 30%;
    background-color: rgb(192, 176, 176);
    border: 10px solid black;
}
div.register h2{
    font-size: larger;
}
div.register .newuser{
    color: black;
    gap: 10px;
    a{
        color: white;
        /* text-decoration: none; */
    }
}
div.register input{
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px;
    border-bottom: 1px solid grey;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.register input:focus{
    /* border: none; */
    outline: none;
    /* transition: 1s; */
}
div.register input[type="submit"]{
    border-radius: 15px;
    color: red;
    background-color: white;
    font-size: 20px;
    transition: 1s;
}

/* register css end*/
button{
    cursor: pointer;
}


/* profile css  */
div.profile{
    /* background-color: whitesmoke; */
    background-image: url("./profile\ bg.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.profile .profilebox{
    padding: 80px 20px;
    margin-top: 100px;
    width: 80%;
    display: flex;
    align-items: flex-start;
    background-color: #f5f5f58a;
    box-shadow: 1px 1px 10px 1px black;
}
.profilebox1{
    width: 60%;
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    gap: 20px;
    
    .name{
        /* font-family: ; */
        font-size: 30px;
        color: black;
        span{
            color: blue;
        }
    }
}

.accinfo{
    display: flex;
    /* align-items: center; */
    gap: 20px;
    font-family: "Caveat", serif;
    font-family: "Eater", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}
.profilebox1 .accorder{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    &:hover{
        color: green;
    }
    i{
        font-size: 30px;
    }
    
}
.profilebox1 .accporder{
    cursor: pointer;
    /* font-size: 15px; */
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    word-spacing: 0.1px;
    &:hover{
        color: red;
    }
    i{
        font-size: 30px;
    }

}
.profilebox1 .accsupport{
    cursor: pointer;
    /* font-size: 15px; */
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    word-spacing: 0.1px;
    &:hover{
        color: blue;
    }
    i{
        font-size: 30px;
    }

}
.profilebox2{
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid oldlace;
    border-radius: 50% 100px;
    margin: 0;
    overflow: hidden;
    img{
        width: 100%;
        object-position: top;
        object-fit: cover;
    }
}


/* footer css */
footer div.footer{
    width: 100%;
    height: 50vh;
    padding: 10px;
    background: linear-gradient(to right, #141e30, #243b55);
    /* background-image: linear-gradient(to right, red , yellow); */

}

div.footer .footeritems{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* gap: 50px; */
    color: white;
    height: 100%;
}
.footerabout{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    align-items: center;
    gap: 10px;
}

.welcomefooter{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    img{
        width: clamp(50px ,100px ,150px);
    }
    h1{
        font-size: 3em;
    }
}












@media (max-width:400px){
    .ourspecial{
        padding: 0;
    }
    .nav-right{
        gap: 2px;
    }
    div.login form{
        padding: 20px 10px;
    }
    div.register form{
        padding: 20px 10px;
    }
    .profile .profilebox{
        padding: 50px 10px;
        /* align-items: center; */
        justify-content: flex-start;
    }
    .sidenav{
        width: 100%;
    }
    .welcomefooter{
        flex-direction: column;
    }
    .footerabout{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 768px){
    .mainhambar{
        display: flex;
    }
    .nav{
        padding: 10px;
    }
    .nav-items {
        display: none;
    }
    .nav-right{
        display: none;
    }
    .hero-section{
        background-size: auto;
        color: #940;
    }
    .ourspecial{
        grid-template-columns: 1fr;

    }
    div.profile{
        background-size: auto;
    }
    .profile .profilebox{
        /* align-items: center; */
        padding: 10px;
        width: 90%;
        flex-direction: column-reverse;
        gap: 10px;
        justify-content: flex-end;
        font-size: 10px;
    }
    .profile .profilebox1 i{
        font-size: 20px;
    }
    .accinfo>.accorder,.accporder,.accsupport{
        font-size: 20px;
    }
    .footeritems .footerabout{
        grid-template-columns: repeat(3,1fr);
    }
}

@media (max-width:800px){
    .about-items{
        grid-template-columns: 1fr;
    }
}

